@import "../_variables/variables";
body,
html {
  overflow-x: hidden;
  margin: 0 auto;
  background: #196539;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  background-color: transparent;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}
figure {
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
}
ul,
ol,
dd {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
p {
  margin: 0;
}

.container {
  max-width: $ui-breakpoint-xxl;
  padding: 0 10px;
  margin: 0 auto;
  @media screen and (max-width: $ui-breakpoint-xl) {
    max-width: $ui-breakpoint-lg;
  }
  @media screen and (max-width: $ui-breakpoint-lg) {
    max-width: $ui-breakpoint-md;
  }
  @media screen and (max-width: $ui-breakpoint-md) {
    max-width: $ui-breakpoint-sm;
  }
  @media screen and (max-width: $ui-breakpoint-sm) {
    max-width: 380px;
  }
}