@import "../_mixin/mixins";

.cards__wrapper {
  @include flex-center;
  gap: 20px;
  margin: 0 auto;

  @media screen and (max-width: $ui-breakpoint-sm) {
    flex-direction: column;
  }
}

.card {
  position: relative;
  display: grid;
  grid-template-rows: 35px 2fr 1fr 1fr;
  align-items: center;
  width: 250px;
  height: 180px;
  padding: 10px;
  background-color: $ui-color-background-card;
  border-radius: $ui-border-radius;
  box-shadow: 0 8px 10px $ui-color-shadow;

  &.visit-done {
    background-color: $ui-color-background-card-done;
  }

  &__data {
    padding: 5px;
    margin-bottom: auto;
    font-family: $ui-font-family;
    font-size: $ui-font-sizes-card-data;
    line-height: 1;
    font-weight: 700;
    color: $ui-color-text-black;
    text-align: center;
  }

  &__doctor {
    padding: 10px;
    font-family: $ui-font-family;
    font-size: $ui-font-sizes-card-doctor;
    line-height: 1;
    text-align: center;
  }

  &__more {
    padding: 10px 15px;
    margin-top: auto;
    font-family: $ui-font-family;
    font-size: 14px;
    line-height: 1;
    background-color: none;
    border: 1px solid $ui-color-border;
    border-radius: $ui-border-radius;

    &:hover {
      background: $ui-color-primary-hover;
      color: $ui-color-text-white;
    }
  }
  
  &__btn {
    align-self: flex-end;
    text-align: end;

    &__item {
      width: 25px;
      height: 25px;
      background: none;
      border: none;
      
      & svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__additional-info {
    position: absolute;
    top: 98%;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding: 10px;
    font-family: $ui-font-family;
    font-size: 16px;
    line-height: 1;
    background-color: $ui-color-background-card;
    box-shadow: 0 8px 10px $ui-color-shadow;
    border-top: none;
    border-radius: 0 0 $ui-border-radius $ui-border-radius;
    z-index: 1;

    &.visit-done {
      background-color: $ui-color-background-card-done;
    }
  }
}

.no-cards-message {
  padding: 25px 0;
  font-family: $ui-font-family;
  font-size: 24px;
  line-height: 1;
  color: $ui-color-text-white;
  text-align: center;
}