@import "../_variables/variables";

.filter {
  padding: 25px 0;
}

.form {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 1fr;
  gap: 20px;
  
  @media screen and (max-width: $ui-breakpoint-lg) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    padding: 10px 20px;
    font-family: $ui-font-family;
    font-size: $ui-font-size-filters-form-item;
    line-height: 1;
    color: $ui-color-text-black;
    background-color: $ui-color-background-filters;
    border: 1px solid $ui-color-border;
    border-radius: $ui-border-radius;

    @media screen and (max-width: $ui-breakpoint-lg) {
      width: 60%;
    }

    &.reset-filters {
      background-color: $ui-color-background-button-logout;
      cursor: pointer;

      &:hover {
       background-color: $ui-color-background-button-logout-hover;
      }
    }
  }
}