@import "../_mixin/mixins";

.header {
  position: relative;
  padding: 10px 0;
  background: $ui-color-background-header;
  box-shadow: 0 5px 10px $ui-color-shadow;
  
  &__wrapper {
    @include flex-between;

    @media screen and (max-width: $ui-breakpoint-sm) {
      flex-direction: column;
      gap: 10px;
    }
  } 
}

.logo {
  width: 150px;
  overflow: hidden;

  @media screen and (max-width: $ui-breakpoint-sm) {
    align-self: flex-start;
  }
    
  & svg:first-child {
    width: 100%;
    height: 75px;
  }

  &__link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
    
  &__icon {
    position: absolute;
    top: 13%;
    left: 34%;
    width: 46px;
    height: 46px;
  }
    
  &__text {
    margin: 0;
    font-family: $ui-font-family;
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    color: $ui-color-text-white;
      
    & span {
      color: $ui-color-primary;
    }
  }
}

.btn {
  padding: 10px 20px;
  font-family: $ui-font-family;
  font-size: $ui-font-sizes-header-buttons;
  line-height: 1;
  font-weight: 700;
  color: $ui-color-text-white;
  background-color: $ui-color-primary;
  border: 1px solid $ui-color-border;
  border-radius: $ui-border-radius;

  &:hover {
    background-color: $ui-color-primary-hover;
  }

  &--hidden {
    display: none;
  }
}