.login-form {
    margin-bottom: 20px;

    & input {
        width: 100%;
        margin-bottom: 10px;
        padding: $ui-fields-padding;
        font-family: $ui-font-family;
        font-size: $ui-font-size-form-item;
        line-height: 1;
        color: $ui-color-text-black;
        border: 1px solid $ui-color-border;
        border-radius: $ui-border-radius;
    }

    & label {
        display: block;
        margin-bottom: 5px;
        font-family: $ui-font-family;
        font-size: $ui-font-size-form-label;
        line-height: 1;
        font-weight: 700;
        color: $ui-color-text-black;
      }
}

.login-form__submitt-btn {
    position: absolute;
    bottom: 50px;
    max-width: 300px;
    padding: 15px 40px;
    margin: 0 auto;
    font-family: $ui-font-family;
    font-size: $ui-font-size-save-button;
    line-height: 1;
    font-weight: 700;
    color: $ui-color-text-white;
    background-color: $ui-color-primary;
    border: none;
    border-radius: $ui-border-radius;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color $ui-transition-duration;
  
    &:hover {
      background-color: $ui-color-primary-hover;
    }
  
    &:active {
      background-color: $ui-color-primary;
    }
  
    &:disabled {
      background-color: $ui-color-disabled-background;
      color: $ui-color-disabled-text;
      cursor: not-allowed;
    }
}
