.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  background-color: $ui-color-background-modal;
}
  
.modal-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: max-content;
  padding: 50px 50px 100px 50px ;
  margin: 10% 30%;
  background-color: $ui-color-background-modal-body;
  border-radius: $ui-border-radius;

  @media screen and (max-width: $ui-breakpoint-xl) {
    margin: 10% 25%;
  }

  @media screen and (max-width: $ui-breakpoint-lg) {
    margin: 10% 20%;
  }
  
  @media screen and (max-width: $ui-breakpoint-md) {
    min-width: 300px;
    padding: 20px 20px 100px 20px;
    margin: 10% 10%;
  }
  
  & select {
    width: 100%;
    margin-bottom: 10px;
    padding: $ui-fields-padding;
    font-family: $ui-font-family;
    font-size: $ui-font-size-modal-item;
    line-height: 1;
    color: $ui-color-text-black;
    border: 1px solid $ui-color-border;
    border-radius: $ui-border-radius;
  }
        
  & label {
    display: block;
    margin-bottom: 5px;
    font-family: $ui-font-family;
    font-size: $ui-font-size-modal-label;
    line-height: 1;
    font-weight: 700;
    color: $ui-color-text-black;
  }
}
  
.modal-body__header {
  margin-bottom: 20px;
  font-family: $ui-font-family;
  font-size: $ui-font-size-modal-title;
  line-height: 1;
  font-weight: 700;
  color: $ui-color-primary;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 24px;
  height: 24px;

  @media screen and (max-width: $ui-breakpoint-md) {
    top: 20px;
    right: 20px;
  }
}